/* in text links */
a.intextlink:link {
	text-decoration: underline; 
	color: black;
	//background-color:#B2FF99;
	font-size: 18px;
}
a.intextlink:visited {
	text-decoration: underline;
	color: black;
	//background-color:#FFFF85;
	font-size: 18;
}
a.intextlink:hover {
	text-decoration: underline;
	color: blue;
	//background-color:#FF704D;
	font-size: 18;
}
a.intextlink:active {
	text-decoration: none;
	color: red;
	//background-color: gold;
	font-size: 18;
}

/* anywhere links */
a.anywhere:link {
	text-decoration: underline; 
	color: black;
	//background-color:#B2FF99;
	font-size: 18;
}
a.anywhere:visited {
	text-decoration: underline;
	color: black;
	//background-color:#FFFF85;
	font-size: 18;
}
a.anywhere:hover {
	text-decoration: underline;
	color: blue;//green;
	//background-color:#FF704D;
	font-size: 18px;
}
a.anywhere:active {
	text-decoration: none;
	color: red;
	//background-color: chartreuse;
	font-size: 18px;
}

/* unformatted text */
.plaintext {
	color: black;
	font-size: 18px;
}

/* dormant link (might be activated next time to be clickable)*/
.dormant{
	color: black;
	font-size: 18px;
	font-weight: bold;
}